.about-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/rick3.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 80vh; 
    padding-bottom: 0;
}

.btn-about {
    margin-top: 2rem;
}