.NavBar {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: powderblue;
    justify-content: space-between;
}
.ul {
    display: flex;
    font-size: 1.4rem;
    width: 100%;
    justify-content: space-around; 
    align-items: center;
    margin: 0;
    padding: 0;
}
.li {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.LogoNavBar {
    width: 14rem;
}

@media (max-width: 768px) {
    .NavBar {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .ul {
        flex-direction: column; 
        width: 100%;
        justify-content: flex-start;
    }

    .li {
        margin: 0.5rem 0; 
    }

    .LogoNavBar {
        margin-bottom: 1rem;
    }
}